<p>
    Donate before January 15 to support KiCad EDA development and <a href="https://www.kipro-pcb.com">KiCad Services Corporation</a>
    will match your contribution dollar for dollar <b>up to $10,000 total</b>.
</p>
<p>
    Your donation helps to build the KiCad community and ensures future feature development, supports 
    bug fixes, community engagement and the growth of KiCad as the premier Open Source EDA solution.
</p>
<p>
    2020 has been a uniquely challenging year for everyone.  We at KiCad are in the same boat.  If you are able,
    please consider setting up a recurring donation to KiCad.  Your support makes KiCad development
    possible.
</p>
<a class="btn btn-primary btn-block plain-link" href="https://funding.communitybridge.org/projects/kicad">Donate via TLF</a>